<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>欢迎登录乐钊会员管理系统</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" href="css/util.css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}">
</head>

<body>
<div class="dowebok">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="images/img-01.png" alt="IMG" th:src="@{images/img-01.png}">
			</div>

			<form class="login100-form validate-form" method="post" id="loginForm">
				<span class="login100-form-title" style="font-weight: 700">
					欢迎登录乐钊会员管理系统
				</span>
				<p style="color: red;text-align: center" th:unless="${error == null}" th:text="${error}"></p>
				<div class="wrap-input100 validate-input">
					<!--<input class="input100" type="text" name="email" placeholder="邮箱">-->
					<input type="text" class="input100" placeholder="请输入用户名" id="username" name="username" th:value="${username}" required>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					<!--<input class="input100" type="password" name="pass" placeholder="密码">-->
					<input type="password" class="input100" placeholder="请输入密码" th:value="${password}" name="password" id="password">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				<!--身份选择-->
				<div class="wrap-input100">
					<span style="font-size:14px;">请选择身份:</span>
					<input type="radio" name="id" value="1" title="管理员">管理员
					<input type="radio" name="id" value="0" title="会员" >会员
				</div>

				
				<div class="container-login100-form-btn">
					<button class="login100-form-btn submitBtn" th:attr="dataUrl=@{/login},dataLogin=@{/login2}" type="submit">
						登陆
					</button>
				</div>


				<div class="text-center p-t-136">
					<a class="txt2" th:href="@{/register}" target="_blank" style="text-decoration: none">
							还没有账号？立即注册
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div>
			</form>
			<!-- jQuery Js -->
			<script src="assets/js/jquery-1.10.2.js"></script>
			<script>
                $(".submitBtn").click(function () {
                    var value = $('input[name="id"]:checked').val();
                    if(value===undefined){
                        alert("请选择用户身份");
					}
                    if(value==1){
                        $("#loginForm").attr("action",$(this).attr("dataUrl")).submit()
                    }
                    if(value==0){
                        $("#loginForm").attr("action",$(this).attr("dataLogin")).submit()
                    }
                    return false;
                });
			</script>
		</div>
	</div>
</div>


</body>
</html>