<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <link href="assets/umeditor/umeditor.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/materialize/css/materialize.min.css" media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet"/>


</head>

<body>

<div id="wrapper">
    <div th:replace="common/bar::navBar"></div>
    <!--用户登录栏的具体信息-->
    <div th:replace="common/bar::loginInfo"></div>
    <!--侧边栏-->
    <div th:replace="common/bar::cebianlan"></div>
    <!--内容主体-->
    <div id="page-wrapper">
        <!--内容主题-->
        <div class="header">
            <h1 class="page-header">
                发表公告
            </h1>
        </div>
        <div id="page-inner">
            <!--自定义内容-->
            <div class="card">
                <input id="hId"  type="hidden" th:value="${session.member.id}" class="hiddenId"/>
                <div class="card-action">
                    <label for="nTitle" class="col-sm-2 control-label">公告标题</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nTitle" placeholder="请输入公告标题" name="newPassword">
                    </div>
                </div>

                <div class="card-content" style="margin-top:10px;">
                    <div id="um-editor">

                    </div>
                </div>


                <div  class="card-action">
                    <a href="javascript:void(0)" onclick="sendNotice()">立即发布</a>
                </div>
            </div>
            <!--页脚-->
            <br>
            <br>
            <br>
        </div>

    </div>
</div>

<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="assets/js/jquery-1.10.2.js"></script>

<script type="text/javascript" charset="utf-8" src="assets/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="assets/umeditor/zh-cn.js"></script>
<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/materialize/js/materialize.min.js"></script>

<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js"></script>

<script src="assets/js/easypiechart.js"></script>
<script src="assets/js/easypiechart-data.js"></script>

<script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="assets/js/custom-scripts.js"></script>

<script>

    UM.getEditor('um-editor');
    
    function sendNotice() {
        var nTitle = document.getElementById("nTitle").value;
        var hId = document.getElementById("hId").value;
        if(nTitle===''){
            Materialize.toast('请输入公告标题', 2000);
            return;
        }
        $.ajax({
            url:'/addNotice',
            type:'POST',
            data:{nTitle:nTitle,hId:hId,content:UM.getEditor('um-editor').getContent()},
            success:function (data) {
                if(data==="success"){
                    Materialize.toast('公告发表成功', 2000)
                }

            }
        });
    }
</script>

</body>

</html>